flows.json
[
    {
        "id": "6301e7be3ca6daa7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b5cc57d73a6e1755",
        "type": "inject",
        "z": "6301e7be3ca6daa7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "fd347b5e56e72cd2"
            ]
        ]
    },
    {
        "id": "1c045d39bc3d7f49",
        "type": "function",
        "z": "6301e7be3ca6daa7",
        "name": "Verto_auslesen",
        "func": "// ======================================================\n// NODE: Fronius Werte auswerten\n// Zweck:\n// - Fronius PowerFlow API auswerten\n// - SOC, Hauslast, PV-Leistung und Batterie-Leistung lesen\n// - Werte zusätzlich im flow-Speicher ablegen\n// - Keine node.warn Ausgaben: Debug nur über Debug-Node\n// ======================================================\n\nconst data = msg.payload?.Body?.Data;\nconst site = data?.Site || {};\nconst inverters = data?.Inverters || {};\n\n// Ersten Inverter suchen\nconst firstInvKey = Object.keys(inverters)[0];\nconst inv = firstInvKey ? inverters[firstInvKey] : {};\n\n// Rohwerte aus Fronius API\nconst soc = Number(inv.SOC);\nconst batteryMode = inv.Battery_Mode ?? null;\n\nconst pPv = Number(site.P_PV ?? 0);\nconst pLoadRaw = Number(site.P_Load ?? 0);\nconst pGrid = Number(site.P_Grid ?? 0);\nconst pAkkuRaw = Number(site.P_Akku ?? 0);\n\n// Fronius P_Load ist häufig negativ für Verbrauch.\n// Für unsere Logik wollen wir Hausverbrauch positiv in W.\nconst houseLoadW = Math.abs(pLoadRaw);\n\n// V5/Victron-Anzeige-Konvention aus unserer PDF:\n// Laden positiv, Entladen negativ.\n// Fronius P_Akku muss ggf. später geprüft werden.\n// Aktuell übernehmen wir den Rohwert separat und berechnen Anzeige konservativ.\nconst batteryPowerRawW = pAkkuRaw;\nconst batteryPowerDisplayW = pAkkuRaw;\n\n// Validierung\nconst socValid = Number.isFinite(soc);\nconst houseLoadValid = Number.isFinite(houseLoadW);\n\n// In flow-Speicher schreiben\nif (socValid) {\n    flow.set(\"soc_percent\", soc);\n}\n\nif (houseLoadValid) {\n    flow.set(\"house_load_w\", houseLoadW);\n}\n\nflow.set(\"pv_power_w\", Number.isFinite(pPv) ? pPv : 0);\nflow.set(\"grid_power_w\", Number.isFinite(pGrid) ? pGrid : 0);\nflow.set(\"battery_power_raw_w\", Number.isFinite(batteryPowerRawW) ? batteryPowerRawW : 0);\nflow.set(\"battery_mode\", batteryMode);\n\n// Debug-/Status-Payload\nmsg.payload = {\n    ok: socValid && houseLoadValid,\n    source: \"fronius_powerflow\",\n    soc_percent: socValid ? soc : null,\n    battery_mode: batteryMode,\n    house_load_w: houseLoadValid ? houseLoadW : null,\n    pv_power_w: Number.isFinite(pPv) ? pPv : null,\n    grid_power_w: Number.isFinite(pGrid) ? pGrid : null,\n    battery_power_raw_w: Number.isFinite(batteryPowerRawW) ? batteryPowerRawW : null,\n    battery_power_display_w: Number.isFinite(batteryPowerDisplayW) ? batteryPowerDisplayW : null,\n    raw: {\n        P_Load: pLoadRaw,\n        P_Grid: pGrid,\n        P_Akku: pAkkuRaw,\n        P_PV: pPv\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 60,
        "wires": [
            [
                "06b5b11380be17f1"
            ]
        ]
    },
    {
        "id": "fd347b5e56e72cd2",
        "type": "http request",
        "z": "6301e7be3ca6daa7",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://10.0.0.216/solar_api/v1/GetPowerFlowRealtimeData.fcgi",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 290,
        "y": 60,
        "wires": [
            [
                "234afdb4a07c3035"
            ]
        ]
    },
    {
        "id": "234afdb4a07c3035",
        "type": "json",
        "z": "6301e7be3ca6daa7",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 60,
        "wires": [
            [
                "1c045d39bc3d7f49"
            ]
        ]
    },
    {
        "id": "06b5b11380be17f1",
        "type": "function",
        "z": "6301e7be3ca6daa7",
        "name": "Daten_auswerten",
        "func": "// ======================================================\n// NODE: Verto_HTTP_auswerten\n// Zweck:\n// - Fronius PowerFlowRealtimeData auswerten\n// - P_Grid, P_Load, P_PV, P_Akku und SOC robust extrahieren\n// - Werte im flow context speichern\n// - KEINE Regelentscheidung hier\n// ======================================================\n\nconst DEBUG = true;\n\n// ------------------------------------------------------\n// Hilfsfunktionen\n// ------------------------------------------------------\nfunction asNumber(v) {\n    if (v === null || v === undefined) return null;\n    const n = Number(v);\n    return Number.isFinite(n) ? n : null;\n}\n\nfunction pickNumber(...values) {\n    for (const v of values) {\n        const n = asNumber(v);\n        if (n !== null) return n;\n    }\n    return null;\n}\n\n// ------------------------------------------------------\n// Fronius PowerFlow Struktur\n// ------------------------------------------------------\nconst data = msg.payload?.Body?.Data || {};\nconst site = data.Site || {};\nconst inverters = data.Inverters || {};\n\n// Meist gibt es nur Inverter \"1\"\nconst inv1 =\n    inverters[\"1\"] ||\n    inverters[1] ||\n    Object.values(inverters)[0] ||\n    {};\n\n// ------------------------------------------------------\n// Werte lesen\n// ------------------------------------------------------\n\n// P_Grid:\n// typischerweise:\n//   > 0 = Netzbezug\n//   < 0 = Einspeisung\nconst gridPowerW = pickNumber(\n    site.P_Grid,\n    msg.grid_power_w,\n    msg.payload?.grid_power_w\n);\n\n// P_Load:\n// bei Fronius oft negativ, wir speichern Hausverbrauch positiv\nconst pLoadRaw = pickNumber(\n    site.P_Load,\n    msg.house_load_w,\n    msg.payload?.house_load_w\n);\n\nconst houseLoadW = pLoadRaw !== null ? Math.abs(pLoadRaw) : null;\n\nconst pvPowerW = pickNumber(\n    site.P_PV,\n    msg.pv_power_w,\n    msg.payload?.pv_power_w\n);\n\n// P_Akku / P_Battery:\n// Vorzeichen kann je nach Fronius-Ansicht unterschiedlich sein.\n// Wir speichern erstmal roh und ändern NICHTS blind.\nconst batteryPowerRawW = pickNumber(\n    site.P_Akku,\n    site.P_Battery,\n    msg.battery_power_raw_w,\n    msg.payload?.battery_power_raw_w\n);\n\n// SOC kann je nach Endpoint im Inverter-Block oder Site liegen\nconst socPercent = pickNumber(\n    inv1.SOC,\n    site.SOC,\n    msg.soc_percent,\n    msg.payload?.soc_percent\n);\n\n// Battery Mode, falls vorhanden\nconst batteryMode =\n    inv1.Battery_Mode ||\n    inv1.battery_mode ||\n    site.Battery_Mode ||\n    msg.battery_mode ||\n    msg.payload?.battery_mode ||\n    null;\n\n// ------------------------------------------------------\n// Plausibilitätscheck\n// ------------------------------------------------------\nif (gridPowerW === null) {\n    node.error(\"P_Grid / grid_power_w nicht gefunden\", msg);\n    return null;\n}\n\nif (houseLoadW === null) {\n    node.warn(\"P_Load / house_load_w nicht gefunden, Regelung kann später nur mit P_Grid arbeiten\");\n}\n\n// ------------------------------------------------------\n// flow context speichern\n// ------------------------------------------------------\nflow.set(\"fronius_grid_power_w\", gridPowerW);\nflow.set(\"fronius_house_load_w\", houseLoadW);\nflow.set(\"fronius_pv_power_w\", pvPowerW);\nflow.set(\"fronius_battery_power_raw_w\", batteryPowerRawW);\nflow.set(\"fronius_soc_percent\", socPercent);\nflow.set(\"fronius_battery_mode\", batteryMode);\nflow.set(\"fronius_http_last_seen\", Date.now());\n\n// Für spätere Functions auch auf msg schreiben\nmsg.ok = true;\nmsg.source = \"fronius_powerflow\";\n\nmsg.grid_power_w = gridPowerW;\nmsg.house_load_w = houseLoadW;\nmsg.pv_power_w = pvPowerW;\nmsg.battery_power_raw_w = batteryPowerRawW;\nmsg.soc_percent = socPercent;\nmsg.battery_mode = batteryMode;\n\nif (DEBUG) {\n    msg.debug_fronius = {\n        grid_power_w: gridPowerW,\n        grid_meaning:\n            gridPowerW > 0 ? \"Netzbezug\" :\n            gridPowerW < 0 ? \"Einspeisung\" :\n            \"Null\",\n        house_load_w: houseLoadW,\n        pv_power_w: pvPowerW,\n        battery_power_raw_w: batteryPowerRawW,\n        soc_percent: socPercent,\n        battery_mode: batteryMode,\n        last_seen: new Date().toISOString()\n    };\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 120,
        "wires": [
            [
                "ac6813dd5e2dcb18"
            ]
        ]
    },
    {
        "id": "ac6813dd5e2dcb18",
        "type": "debug",
        "z": "6301e7be3ca6daa7",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 120,
        "wires": []
    },
    {
        "id": "c3ee9fab24291908",
        "type": "inject",
        "z": "6301e7be3ca6daa7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 300,
        "wires": [
            [
                "27537240031a7b38"
            ]
        ]
    },
    {
        "id": "27537240031a7b38",
        "type": "http request",
        "z": "6301e7be3ca6daa7",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.forecast.solar/estimate/48.30/14.29/30/-30/18",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 300,
        "wires": [
            [
                "d2cd407777295942"
            ]
        ]
    },
    {
        "id": "d6ad4b2eae628ddc",
        "type": "function",
        "z": "6301e7be3ca6daa7",
        "name": "Forcast_V6",
        "func": "// ======================================================\n// NODE: Forecast_auswerten_V6\n// Zweck:\n// - forecast.solar Response auswerten\n// - result.watt_hours_period pro Europe/Vienna-Kalendertag summieren\n// - heute, morgen, übermorgen in kWh berechnen\n// - Werte im flow-Speicher ablegen\n// - V6: noch keine finale Steuerentscheidung, nur Forecast-Daten\n// ======================================================\n\nfunction viennaDateString(offsetDays = 0) {\n    const fmt = new Intl.DateTimeFormat(\"sv-SE\", {\n        timeZone: \"Europe/Vienna\",\n        year: \"numeric\",\n        month: \"2-digit\",\n        day: \"2-digit\"\n    });\n\n    const now = new Date();\n    const todayStr = fmt.format(now);\n\n    // Mittagszeit verhindert DST-/Zeitzonen-Kantenprobleme\n    const base = new Date(`${todayStr}T12:00:00`);\n    base.setDate(base.getDate() + offsetDays);\n\n    return fmt.format(base);\n}\n\nfunction round1(x) {\n    return Math.round(x * 10) / 10;\n}\n\nfunction sumWhForDate(wattHoursPeriod, dateStr) {\n    let sumWh = 0;\n    let points = 0;\n\n    for (const [ts, whRaw] of Object.entries(wattHoursPeriod || {})) {\n        if (!ts.startsWith(dateStr)) continue;\n\n        const wh = Number(whRaw);\n        if (!Number.isFinite(wh)) continue;\n\n        sumWh += wh;\n        points++;\n    }\n\n    return {\n        kwh: round1(sumWh / 1000),\n        points\n    };\n}\n\n// Payload robust behandeln\nlet payload = msg.payload;\n\nif (typeof payload === \"string\") {\n    try {\n        payload = JSON.parse(payload);\n    } catch (e) {\n        payload = {};\n    }\n}\n\nconst whPeriod = payload?.result?.watt_hours_period;\n\nconst todayDate = viennaDateString(0);\nconst tomorrowDate = viennaDateString(1);\nconst dayAfterTomorrowDate = viennaDateString(2);\n\nlet source = \"forecast.solar/watt_hours_period\";\nlet usedFallback = false;\n\nlet today = { kwh: 0, points: 0 };\nlet tomorrow = { kwh: 0, points: 0 };\nlet dayAfterTomorrow = { kwh: 0, points: 0 };\n\nif (whPeriod && typeof whPeriod === \"object\") {\n    today = sumWhForDate(whPeriod, todayDate);\n    tomorrow = sumWhForDate(whPeriod, tomorrowDate);\n    dayAfterTomorrow = sumWhForDate(whPeriod, dayAfterTomorrowDate);\n\n    if (today.points + tomorrow.points + dayAfterTomorrow.points === 0) {\n        usedFallback = true;\n        source = \"fallback_no_matching_dates\";\n    }\n} else {\n    usedFallback = true;\n    source = \"fallback_missing_watt_hours_period\";\n}\n\n// Flow-Speicher für Strategie_V6\nflow.set(\"forecast_today_kwh\", today.kwh);\nflow.set(\"forecast_tomorrow_kwh\", tomorrow.kwh);\nflow.set(\"forecast_day_after_tomorrow_kwh\", dayAfterTomorrow.kwh);\n\nflow.set(\"forecast_today_date\", todayDate);\nflow.set(\"forecast_tomorrow_date\", tomorrowDate);\nflow.set(\"forecast_day_after_tomorrow_date\", dayAfterTomorrowDate);\n\nflow.set(\"forecast_source\", source);\nflow.set(\"forecast_used_fallback\", usedFallback);\nflow.set(\"forecast_updated_at\", new Date().toISOString());\n\n// Abwärtskompatibel für alte Nodes\nflow.set(\"forecast_kwh\", today.kwh);\nflow.set(\"forecast_date\", todayDate);\n\n// Debug-Ausgabe\nmsg.payload = {\n    ok: !usedFallback,\n    source,\n    used_fallback: usedFallback,\n    forecast: {\n        today: {\n            date: todayDate,\n            kwh: today.kwh,\n            points: today.points\n        },\n        tomorrow: {\n            date: tomorrowDate,\n            kwh: tomorrow.kwh,\n            points: tomorrow.points\n        },\n        day_after_tomorrow: {\n            date: dayAfterTomorrowDate,\n            kwh: dayAfterTomorrow.kwh,\n            points: dayAfterTomorrow.points\n        }\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "d2cd407777295942",
        "type": "json",
        "z": "6301e7be3ca6daa7",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 300,
        "wires": [
            [
                "d6ad4b2eae628ddc"
            ]
        ]
    },
    {
        "id": "b095a4c7d3d9ff0b",
        "type": "function",
        "z": "6301e7be3ca6daa7",
        "name": "Strategie_V6_Debug",
        "func": "// ======================================================\n// NODE: Strategie_V6_Debug_mit_Regler\n// Zweck:\n// - V6 Strategieentscheidung berechnen\n// - Eigenverbrauch hat oberste Priorität\n// - Forecast heute + morgen bewerten\n// - Winter-/Reserve-Logik berücksichtigen\n// - Ladeblockade bis 10:30 vorbereiten\n// - Morgen-Entladung vorbereiten\n// - OutWRte dynamisch über P_Grid regeln\n// - Simulation über msg.payload.sim möglich\n// - Noch KEIN Modbus-Schreiben\n// ======================================================\n\n\n// ======================================================\n// 1) KONFIGURATION\n// ======================================================\n\n// Fronius OutWRte / InWRte:\n// 0     = 0 %\n// 10000 = 100 %\nconst OUTWRTE_MAX = 10000;\n\n// Diese Konstante wird nur noch für Debug / Startabschätzung verwendet.\n// Die eigentliche Entladeleistung wird über P_Grid geregelt.\nconst BATTERY_POWER_REF_W = 16600;\n\n// -------------------------------\n// Zeitfenster Europe/Vienna\n// -------------------------------\n\n// Strategisches Morgen-Entladefenster\nconst DISCHARGE_START_MIN = 4 * 60 + 30;      // 04:30\nconst DISCHARGE_END_MIN   = 8 * 60;           // 08:00\n\n// Ladeblockade / Direktverkauf bis 10:30\nconst CHARGE_BLOCK_START_MIN = 6 * 60;        // 06:00\nconst CHARGE_BLOCK_END_MIN   = 10 * 60 + 30;  // 10:30\n\n// -------------------------------\n// SOC-Sicherheiten\n// -------------------------------\n\n// Entladung darf bis nahe minSoc gehen.\n// Bei gutem Forecast und minSoc 15 wird also bis ca. 17 % erlaubt.\nconst SOC_MARGIN_FOR_ACTION = 2;\n\n// Ladeblockade ist riskanter für Eigenverbrauch,\n// daher höhere Reserve über minSoc.\nconst CHARGE_BLOCK_MARGIN = 10;\n\n// Absolute Untergrenze\nconst MIN_SOC_ABSOLUTE = 15;\n\n// -------------------------------\n// Dynamischer OutWRte-Regler\n// -------------------------------\n\n// P_Grid > 0 = Netzbezug\n// P_Grid < 0 = Einspeisung\nconst GRID_TARGET_W = -50;\n\n// Totband, damit der Regler nicht zappelt\nconst GRID_DEADBAND_W = 70;\n\n// Schrittweiten für OutWRte 0..10000\nconst STEP_SMALL = 70;\nconst STEP_MEDIUM = 400;\nconst STEP_LARGE = 800;\nconst STEP_VERY_LARGE = 1200;\n\n// Wenn Entladung neu aktiv wird und Netzbezug da ist,\n// startet der Regler nicht bei 0.\nconst START_OUTWRTE_IF_IMPORT = 1000;\n\n\n// ======================================================\n// 2) HILFSFUNKTIONEN\n// ======================================================\n\nfunction clamp(num, min, max) {\n    return Math.min(Math.max(num, min), max);\n}\n\nfunction round1(x) {\n    return Math.round(Number(x) * 10) / 10;\n}\n\nfunction round0(x) {\n    return Math.round(Number(x) || 0);\n}\n\nfunction getViennaMinutes() {\n    const timeString = new Intl.DateTimeFormat(\"sv-SE\", {\n        timeZone: \"Europe/Vienna\",\n        hour: \"2-digit\",\n        minute: \"2-digit\",\n        hour12: false\n    }).format(new Date());\n\n    const [h, m] = timeString.split(\":\").map(Number);\n    return h * 60 + m;\n}\n\nfunction getViennaDateTimeString() {\n    return new Intl.DateTimeFormat(\"sv-SE\", {\n        timeZone: \"Europe/Vienna\",\n        year: \"numeric\",\n        month: \"2-digit\",\n        day: \"2-digit\",\n        hour: \"2-digit\",\n        minute: \"2-digit\",\n        second: \"2-digit\",\n        hour12: false\n    }).format(new Date()).replace(\" \", \"T\");\n}\n\nfunction minutesToHHMM(minutes) {\n    const h = Math.floor(minutes / 60);\n    const m = minutes % 60;\n    return `${String(h).padStart(2, \"0\")}:${String(m).padStart(2, \"0\")}`;\n}\n\n\n// ======================================================\n// 3) SIMULATION ERKENNEN\n// ======================================================\n\n// Beispiel Sim-Inject:\n// {\n//   \"sim\": true,\n//   \"soc_percent\": 80,\n//   \"house_load_w\": 3000,\n//   \"grid_power_w\": 3000,\n//   \"vienna_minutes\": 420\n// }\n\nconst sim = msg.payload && msg.payload.sim === true;\nconst simInput = sim ? msg.payload : {};\n\n\n// ======================================================\n// 4) FORECAST AUS FLOW EINLESEN\n// ======================================================\n\nconst todayKwh = Number(flow.get(\"forecast_today_kwh\") ?? 0);\nconst tomorrowKwh = Number(flow.get(\"forecast_tomorrow_kwh\") ?? 0);\n\nconst todayDate = flow.get(\"forecast_today_date\") ?? null;\nconst tomorrowDate = flow.get(\"forecast_tomorrow_date\") ?? null;\nconst forecastSource = flow.get(\"forecast_source\") ?? \"unknown\";\nconst forecastUsedFallback = Boolean(flow.get(\"forecast_used_fallback\"));\n\n\n// ======================================================\n// 5) REALWERTE ODER SIMULATION EINLESEN\n// ======================================================\n\nconst soc = sim\n    ? Number(simInput.soc_percent)\n    : Number(flow.get(\"soc_percent\"));\n\nconst houseLoadW = sim\n    ? Number(simInput.house_load_w ?? 0)\n    : Number(flow.get(\"house_load_w\") ?? 0);\n\nconst pvPowerW = sim\n    ? Number(simInput.pv_power_w ?? 0)\n    : Number(flow.get(\"pv_power_w\") ?? 0);\n\nconst gridPowerW = sim\n    ? Number(simInput.grid_power_w ?? 0)\n    : Number(flow.get(\"grid_power_w\") ?? 0);\n\nconst batteryMode = sim\n    ? \"simulation\"\n    : (flow.get(\"battery_mode\") ?? null);\n\nconst nowMinutes = sim && Number.isFinite(Number(simInput.vienna_minutes))\n    ? Number(simInput.vienna_minutes)\n    : getViennaMinutes();\n\n\n// ======================================================\n// 6) VALIDIERUNG\n// ======================================================\n\nconst socValid = Number.isFinite(soc);\n\nconst forecastValid =\n    Number.isFinite(todayKwh) &&\n    Number.isFinite(tomorrowKwh) &&\n    !forecastUsedFallback;\n\nconst houseLoadValid = Number.isFinite(houseLoadW);\nconst gridPowerValid = Number.isFinite(gridPowerW);\n\nconst inDischargeWindow =\n    nowMinutes >= DISCHARGE_START_MIN &&\n    nowMinutes < DISCHARGE_END_MIN;\n\nconst inChargeBlockWindow =\n    nowMinutes >= CHARGE_BLOCK_START_MIN &&\n    nowMinutes < CHARGE_BLOCK_END_MIN;\n\n\n// ======================================================\n// 7) RESERVEKLASSE AUS HEUTE + MORGEN\n// ======================================================\n\n// Deine angepasste Reserve-Logik:\n// tomorrow < 25  => HIGH        / minSoc 75\n// tomorrow < 35  => MEDIUM_HIGH / minSoc 50\n// tomorrow < 40  => NORMAL      / minSoc 35\n// sonst          => LOW         / minSoc 15\n\nlet reserveClass = \"unknown\";\nlet minSoc = 80;\nlet reserveReason = \"forecast_invalid_or_missing\";\n\nif (forecastValid) {\n    if (tomorrowKwh < 25) {\n        reserveClass = \"HIGH\";\n        minSoc = 75;\n        reserveReason = \"tomorrow_bad_keep_battery_for_self_consumption\";\n    } else if (tomorrowKwh < 35) {\n        reserveClass = \"MEDIUM_HIGH\";\n        minSoc = 50;\n        reserveReason = \"tomorrow_weak_keep_more_reserve\";\n    } else if (tomorrowKwh < 40) {\n        reserveClass = \"NORMAL\";\n        minSoc = 35;\n        reserveReason = \"tomorrow_medium_normal_reserve\";\n    } else {\n        reserveClass = \"LOW\";\n        minSoc = 15;\n        reserveReason = \"today_and_tomorrow_good_lower_reserve_ok\";\n    }\n\n    // Wenn heute schlecht ist, zusätzlich vorsichtiger sein\n    if (todayKwh < 40) {\n        minSoc = Math.max(minSoc, 65);\n        reserveClass = reserveClass === \"LOW\" ? \"NORMAL\" : reserveClass;\n        reserveReason = \"today_weak_raise_reserve\";\n    }\n}\n\n// Absolute Sicherheitsgrenze\nminSoc = clamp(minSoc, MIN_SOC_ABSOLUTE, 90);\n\n\n// ======================================================\n// 8) BASIS-ENTLADESTRATEGIE\n// ======================================================\n\nlet baseOutwrte = 0;\nlet dischargeCase = \"none\";\n\n// Heute entscheidet primär, morgen bestimmt Reserve/Aggressivität\nif (forecastValid) {\n    if (todayKwh >= 80 && tomorrowKwh >= 60) {\n        baseOutwrte = 10000;\n        dischargeCase = \"today_very_good_tomorrow_good\";\n    } else if (todayKwh >= 80 && tomorrowKwh >= 40) {\n        baseOutwrte = 7000;\n        dischargeCase = \"today_very_good_tomorrow_medium\";\n    } else if (todayKwh >= 60 && tomorrowKwh >= 60) {\n        baseOutwrte = 5000;\n        dischargeCase = \"today_good_tomorrow_good\";\n    } else if (todayKwh >= 60 && tomorrowKwh >= 40) {\n        baseOutwrte = 3500;\n        dischargeCase = \"today_good_tomorrow_medium\";\n    } else if (todayKwh >= 40 && tomorrowKwh >= 60) {\n        baseOutwrte = 3000;\n        dischargeCase = \"today_medium_tomorrow_good\";\n    } else if (todayKwh >= 40 && tomorrowKwh >= 40) {\n        baseOutwrte = 2000;\n        dischargeCase = \"today_medium_tomorrow_medium\";\n    } else {\n        baseOutwrte = 0;\n        dischargeCase = \"forecast_not_enough_for_pre_discharge\";\n    }\n}\n\n\n// ======================================================\n// 9) HAUSLAST-ABSCHÄTZUNG NUR NOCH ALS DEBUG\n// ======================================================\n\nlet houseLoadOutwrteEstimate = 0;\n\nif (houseLoadValid && houseLoadW > 0) {\n    houseLoadOutwrteEstimate = Math.ceil((houseLoadW / BATTERY_POWER_REF_W) * OUTWRTE_MAX) + 100;\n    houseLoadOutwrteEstimate = clamp(houseLoadOutwrteEstimate, 0, OUTWRTE_MAX);\n}\n\n\n// ======================================================\n// 10) ENTLADE-ERLAUBNIS\n// ======================================================\n\n// Wichtig:\n// Das bedeutet strategische Entladung / externe Entladefreigabe.\n// Normale Eigenverbrauchsdeckung bleibt im Normalbetrieb dem Verto überlassen.\n\nlet dischargeAllowed = false;\nlet dischargeReason = \"not_evaluated\";\n\nif (!forecastValid) {\n    dischargeReason = \"forecast_invalid_no_discharge\";\n} else if (!socValid) {\n    dischargeReason = \"soc_missing_no_discharge\";\n} else if (!inDischargeWindow) {\n    dischargeReason = \"outside_discharge_window\";\n} else if (soc <= minSoc + SOC_MARGIN_FOR_ACTION) {\n    dischargeReason = \"soc_too_low_self_consumption_priority\";\n} else if (baseOutwrte <= 0) {\n    dischargeReason = \"forecast_not_strong_enough_for_discharge\";\n} else if (reserveClass === \"HIGH\") {\n    dischargeReason = \"reserve_high_no_discharge\";\n} else {\n    dischargeAllowed = true;\n    dischargeReason = \"inside_window_soc_ok_forecast_ok\";\n}\n\n\n// ======================================================\n// 11) LADEBLOCKADE BIS 10:30\n// ======================================================\n\nlet chargeBlockAllowed = false;\nlet chargeBlockReason = \"not_evaluated\";\n\nif (!forecastValid) {\n    chargeBlockReason = \"forecast_invalid_no_charge_block\";\n} else if (!socValid) {\n    chargeBlockReason = \"soc_missing_no_charge_block\";\n} else if (!inChargeBlockWindow) {\n    chargeBlockReason = \"outside_charge_block_window\";\n} else if (reserveClass === \"HIGH\") {\n    chargeBlockReason = \"reserve_high_keep_charging_allowed\";\n} else if (todayKwh < 60) {\n    chargeBlockReason = \"today_forecast_too_low_no_charge_block\";\n} else if (tomorrowKwh < 40) {\n    chargeBlockReason = \"tomorrow_too_weak_no_charge_block\";\n} else if (soc <= minSoc + CHARGE_BLOCK_MARGIN) {\n    chargeBlockReason = \"soc_too_low_no_charge_block_self_consumption_priority\";\n} else {\n    chargeBlockAllowed = true;\n    chargeBlockReason = \"good_forecast_soc_ok_direct_export_preferred_until_1030\";\n}\n\n\n// ======================================================\n// 12) DYNAMISCHER OUTWRTE-REGLER\n// ======================================================\n\n// Der Regler bestimmt den tatsächlichen OutWRte-Wert anhand P_Grid.\n// Damit müssen wir NICHT wissen, ob OutWRte auf Batterie-, WR- oder WChaMax-Leistung normiert ist.\n\nlet prevReglerOutwrte = Number(flow.get(\"regler_outwrte\") ?? 0);\nif (!Number.isFinite(prevReglerOutwrte)) prevReglerOutwrte = 0;\n\nlet reglerEnabled = true;\nlet reglerReason = \"regler_active\";\nlet reglerAction = \"hold\";\nlet reglerOutwrte = prevReglerOutwrte;\n\nif (!gridPowerValid) {\n    reglerEnabled = false;\n    reglerReason = \"grid_power_invalid\";\n} else if (!dischargeAllowed) {\n    reglerEnabled = false;\n    reglerReason = \"discharge_not_allowed_by_strategy\";\n} else if (!socValid) {\n    reglerEnabled = false;\n    reglerReason = \"soc_invalid\";\n} else if (soc <= minSoc) {\n    reglerEnabled = false;\n    reglerReason = \"soc_below_min_soc\";\n} else if (baseOutwrte <= 0) {\n    reglerEnabled = false;\n    reglerReason = \"base_outwrte_zero\";\n}\n\nif (!reglerEnabled) {\n    reglerOutwrte = 0;\n    reglerAction = \"force_zero\";\n} else {\n    const errorW = gridPowerW - GRID_TARGET_W;\n\n    // Netzbezug deutlich positiv -> Entladung erhöhen\n    if (errorW > 3000) {\n        reglerOutwrte += STEP_VERY_LARGE;\n        reglerAction = \"increase_very_large\";\n    } else if (errorW > 1500) {\n        reglerOutwrte += STEP_LARGE;\n        reglerAction = \"increase_large\";\n    } else if (errorW > 700) {\n        reglerOutwrte += STEP_MEDIUM;\n        reglerAction = \"increase_medium\";\n    } else if (errorW > GRID_DEADBAND_W) {\n        reglerOutwrte += STEP_SMALL;\n        reglerAction = \"increase_small\";\n    }\n\n    // Einspeisung / negativer Netzbezug -> Entladefreigabe reduzieren\n    else if (errorW < -1500) {\n        reglerOutwrte -= STEP_LARGE;\n        reglerAction = \"decrease_large\";\n    } else if (errorW < -700) {\n        reglerOutwrte -= STEP_MEDIUM;\n        reglerAction = \"decrease_medium\";\n    } else if (errorW < -GRID_DEADBAND_W) {\n        reglerOutwrte -= STEP_SMALL;\n        reglerAction = \"decrease_small\";\n    }\n\n    // nahe Ziel -> halten\n    else {\n        reglerAction = \"hold_deadband\";\n    }\n\n    // Startwert, falls vorher 0 und aktuell Netzbezug\n    if (prevReglerOutwrte === 0 && gridPowerW > GRID_DEADBAND_W) {\n        reglerOutwrte = Math.max(reglerOutwrte, START_OUTWRTE_IF_IMPORT);\n        reglerAction = `${reglerAction}_with_start_boost`;\n    }\n\n    // Begrenzung durch Strategie\n    reglerOutwrte = clamp(reglerOutwrte, 0, baseOutwrte);\n    reglerOutwrte = clamp(reglerOutwrte, 0, OUTWRTE_MAX);\n}\n\nreglerOutwrte = Math.round(reglerOutwrte);\n\n\n// ======================================================\n// 13) MODBUS-VORSCHLAG, NOCH NICHT SCHREIBEN\n// ======================================================\n\n// Fronius Basic Storage Control:\n// 0 = externe Steuerung aus\n// 1 = Ladelimit aktiv\n// 2 = Entladelimit aktiv\n// 3 = Lade- und Entladelimit aktiv\n\nlet storctlModProposed = 0;\nlet outwrteProposed = 0;\nlet inwrteProposed = null;\n\nif (dischargeAllowed && chargeBlockAllowed) {\n    storctlModProposed = 3;\n    outwrteProposed = reglerOutwrte;\n    inwrteProposed = 0;\n} else if (dischargeAllowed) {\n    storctlModProposed = 2;\n    outwrteProposed = reglerOutwrte;\n    inwrteProposed = null;\n} else if (chargeBlockAllowed) {\n    storctlModProposed = 1;\n    outwrteProposed = 0;\n    inwrteProposed = 0;\n} else {\n    storctlModProposed = 0;\n    outwrteProposed = 0;\n    inwrteProposed = null;\n}\n\n\n// ======================================================\n// 14) FLOW SPEICHERN FÜR SPÄTERE WRITE-NODES\n// ======================================================\n\nflow.set(\"strategy_v6_reserve_class\", reserveClass);\nflow.set(\"strategy_v6_min_soc\", minSoc);\nflow.set(\"strategy_v6_discharge_allowed\", dischargeAllowed);\nflow.set(\"strategy_v6_charge_block_allowed\", chargeBlockAllowed);\nflow.set(\"strategy_v6_base_outwrte\", baseOutwrte);\n\nflow.set(\"regler_enabled\", reglerEnabled);\nflow.set(\"regler_reason\", reglerReason);\nflow.set(\"regler_action\", reglerAction);\nflow.set(\"regler_outwrte\", reglerOutwrte);\n\nflow.set(\"strategy_v6_storctl_mod_proposed\", storctlModProposed);\nflow.set(\"strategy_v6_outwrte_proposed\", outwrteProposed);\nflow.set(\"strategy_v6_inwrte_proposed\", inwrteProposed);\n\n// Alte Namen für spätere Kompatibilität.\n// Noch keine Modbus-Nodes anschließen!\nflow.set(\"storctl_mod\", storctlModProposed);\nflow.set(\"outwrte\", outwrteProposed);\nflow.set(\"inwrte\", inwrteProposed);\n\n\n// ======================================================\n// 15) DEBUG PAYLOAD\n// ======================================================\n\nmsg.payload = {\n    ok: forecastValid && socValid,\n\n    mode: sim\n        ? \"simulation_v6_strategy_regler_debug_only_no_modbus_write\"\n        : \"v6_strategy_regler_debug_only_no_modbus_write\",\n\n    simulation: {\n        active: sim,\n        input: sim ? simInput : null\n    },\n\n    time: {\n        vienna_now: sim ? `SIM ${minutesToHHMM(nowMinutes)}` : getViennaDateTimeString(),\n        minutes: nowMinutes,\n        hhmm: minutesToHHMM(nowMinutes),\n        in_discharge_window: inDischargeWindow,\n        discharge_window: \"04:30-08:00\",\n        in_charge_block_window: inChargeBlockWindow,\n        charge_block_window: \"06:00-10:30\"\n    },\n\n    inputs: {\n        forecast_today_date: todayDate,\n        forecast_today_kwh: round1(todayKwh),\n        forecast_tomorrow_date: tomorrowDate,\n        forecast_tomorrow_kwh: round1(tomorrowKwh),\n        forecast_source: forecastSource,\n        forecast_used_fallback: forecastUsedFallback,\n\n        soc_percent: socValid ? round1(soc) : null,\n        house_load_w: houseLoadValid ? Math.round(houseLoadW) : null,\n        pv_power_w: Number.isFinite(pvPowerW) ? Math.round(pvPowerW) : null,\n        grid_power_w: gridPowerValid ? Math.round(gridPowerW) : null,\n        battery_mode: batteryMode\n    },\n\n    reserve: {\n        reserve_class: reserveClass,\n        min_soc: minSoc,\n        reason: reserveReason\n    },\n\n    pre_discharge: {\n        allowed: dischargeAllowed,\n        reason: dischargeReason,\n        case: dischargeCase,\n        base_outwrte_max: baseOutwrte,\n        house_load_outwrte_estimate_only: houseLoadOutwrteEstimate,\n        note: \"Hauslast-Schätzung ist nur Debug. Tatsächlicher OutWRte kommt vom P_Grid-Regler.\"\n    },\n\n    charge_block: {\n        allowed: chargeBlockAllowed,\n        reason: chargeBlockReason,\n        inwrte: chargeBlockAllowed ? 0 : null,\n        until: \"10:30\"\n    },\n\n    outwrte_regler: {\n        enabled: reglerEnabled,\n        reason: reglerReason,\n        grid_target_w: GRID_TARGET_W,\n        grid_deadband_w: GRID_DEADBAND_W,\n        previous_outwrte: prevReglerOutwrte,\n        action: reglerAction,\n        new_outwrte: reglerOutwrte,\n        max_outwrte_from_strategy: baseOutwrte\n    },\n\n    modbus_proposal: {\n        write_active: false,\n        storctl_mod: storctlModProposed,\n        outwrte: outwrteProposed,\n        inwrte: inwrteProposed,\n        note: \"Nur Vorschlag. Noch nicht mit Modbus Write verbinden.\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 400,
        "wires": [
            [
                "3539dc765a155bb8"
            ]
        ]
    },
    {
        "id": "c1dfeff93974c92e",
        "type": "inject",
        "z": "6301e7be3ca6daa7",
        "name": "Sim_input",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{   \"sim\": true,   \"soc_percent\": 80,   \"house_load_w\": 3000,   \"grid_power_w\": 3000,   \"vienna_minutes\": 420 }",
        "payloadType": "json",
        "x": 100,
        "y": 400,
        "wires": [
            [
                "b095a4c7d3d9ff0b"
            ]
        ]
    },
    {
        "id": "3539dc765a155bb8",
        "type": "debug",
        "z": "6301e7be3ca6daa7",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 400,
        "wires": []
    }
]